@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
<<<<<<< HEAD
  src: url('../public/inter.ttf');
=======
  src: url('public/inter.ttf');
>>>>>>> main
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cursive';
<<<<<<< HEAD
  src: url('../public/cursive.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixels';
  src: url('../public/pixel.ttf');
=======
  src: url('public/cursive.ttf');
>>>>>>> main
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

* {
    font-family: "Inter";
}

body {
<<<<<<< HEAD
  background-color: #F5F5F5;
=======
  background-color: white;
>>>>>>> main
}

.cursive {
  font-family: "Cursive";
}

<<<<<<< HEAD
.pixel {
  font-family: "Pixels";
}

=======
>>>>>>> main
.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}